# R junk
.RData
.Rhistory

# Logs
*.log
wget-log

# Images
*.png

# TSV
*.tsv

# Bioinformatics data
fastq/
alignments/
data/
ref/
star/
starindex/# Bioinformatics data
*.bam
*.fastq
*.fastq.gz
*.bigWig
*.bw
*.bed
*.tsv
*.csv

# Output folders
data/
fastq/
alignments/
bins/
qc/
logs/

# SLURM cluster job output files (keep directory structure, ignore contents).
cluster_jobs/logs/**/*
!cluster_jobs/logs/**/
!cluster_jobs/logs/**/.gitkeep
