fastq/
fastp/
qc/
star/
starindex/
bed/
bedgraph/
ends/
ref/
*.bed
*.bam
*.bai
*.png
*.tsv
# ignore large raw data files
data/*.bigWig
data/*.bed
data/*.bed.gz
data/*.gtf
data/*.gtf.gz

# you can also ignore everything in data/ except maybe tiny test files
data/

# but DO keep an empty placeholder so others know the folder exists
!data/README.md

# typical Python junk
__pycache__/
*.pyc
.venv/
venv/
.env/

